<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <%= render partial: "products/swiper", locals: {products: @first_half} %>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <%= render partial: "products/swiper", locals: {products: @second_half} %>
    </div>
    <div class="swiper-pagination"></div>
</div>