<style>
    .swiper-slide img {
        margin-top: 10px;
    }
</style>


<% products.each do |product| %>
    <div class="swiper-slide border border-secondary">
        <img src="https://via.placeholder.com/110x120">
        <div class="product-details">
            <p><%= link_to product.name, product_path(product) %></p>
            <p><%= product.console %></p>
            <p>$<%= product.price %></p>
        </div>
    </div>
<% end %>