<div class="row">
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        PS4
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        PS5
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        Switch
    </div>
</div>
<div class="row">
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        Xbox X/S
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        Xbox One
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        PC
    </div>
</div>
<br>

<div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
        <%= render partial: "products/swiper", locals: {products: @first_half} %>
    </div>
    <div class="swiper-wrapper">
        <%= render partial: "products/swiper", locals: {products: @second_half} %>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 2,
    spaceBetween: 15,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    });
</script>