<style>
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    margin-bottom: 15px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    background: #F2F2F2;
    height: 34vh;

    justify-content: flex-end;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }

  .padding {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  p {
      margin-bottom: 0;
  }
</style>

<%= render "products/console_filter" %>

<h1>Nintendo Switch</h1>

<%= render "products/product_display" %>
    